{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Cookies Shop</title>

    <link href="{% static 'css/index.css' %}" rel="stylesheet" type="text/css" />
  </head>
	<body>

		<header>
			<h1>Aradhana's Kitchen Cookies shop</h1>
			<img class="main" src="{% static 'images/cookies-stock-main.jpg' %}" alt="A man drinking tea">

			<p>Home made cookies by Aradhana's kitchen. Baked on demand with love.
            </p>
			<p>Home delivery is also available.
            </p>
		</header>

        {% block content %}
        {% endblock %}

		<footer>
			<p>Copyright by 2020</p>
		</footer>

		<script src="static/script.js"></script>
	</body>
</html>